<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if stu %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>StudID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
      {% for student in stu %}
      <tr> <td>{{student.id}}</td>
        <td>{{student.stuid}}</td>
        <td>{{student.stuname}}</td>
        <td>{{student.stuemail}}</td>
        <td>{{student.stupass}}</td></tr>
        {% endfor%}
    </table>
    {% else %}
        <h1>
        No data 
        </h1>
    {% endif %}    
</body>
</html>